<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 16:48:12 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:104</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>30878</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:98</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 16:52:46 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:98</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>22782</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:104</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 16:58:28 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:98</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:10:49 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>166228</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:83</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>167995</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">Administrador solicita fichero LOG</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:27:28 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:29:05 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>32814</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:30:54 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>14704</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>26026</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>27434</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:69</td>
<td title="Message">Administrador solicita fichero LOG</td>
</tr>

<tr>
<td>30639</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>43471</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>58491</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>73033</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>104608</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>115942</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:34:45 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>22895</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>69316</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>80746</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>97932</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:48:38 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>9188</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>44671</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 17:51:42 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>9307</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>10644</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>21533</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>33226</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>658451</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>671502</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>679762</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>686339</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>688076</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>695578</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>702540</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>2810476</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>2957853</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 30 18:49:37 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:151</td>
<td title="Message"> se actualizo un accidente</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 09:37:31 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>12826</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 09:45:33 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>2605</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 09:46:55 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>19793</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 09:49:20 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>9109</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 12:05:21 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 22:16:29 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>13971</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 22:39:16 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 31 23:09:12 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 20:31:32 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:103</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 21:05:46 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:63</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 21:16:59 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>11981</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:95</td>
<td title="Message"> se logeo el Profesional</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 21:19:10 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:89</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 21:33:13 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:55</td>
<td title="Message">ENTRO EN LA API EL IVITADO</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:37:13 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:38:37 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:43:21 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>9715</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:44:40 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:46:47 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:49:00 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>6604</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:50:01 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:50:37 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:51:36 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sat Aug 01 22:57:17 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:55</td>
<td title="Message">ENTRO EN LA API EL IVITADO</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sun Aug 02 20:18:34 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>274380</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>314007</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>374900</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>454802</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>469242</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>509718</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>623172</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sun Aug 02 20:32:26 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>10628</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:55</td>
<td title="Message">ENTRO EN LA API EL IVITADO</td>
</tr>

<tr>
<td>71844</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sun Aug 02 20:35:17 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sun Aug 02 21:05:07 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sun Aug 02 21:06:35 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Sun Aug 02 21:15:05 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Mon Aug 03 10:06:12 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>2234</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>

<tr>
<td>54357</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:67</td>
<td title="Message">SE muestra pagina de error</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Mon Aug 03 10:07:49 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>17065</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>20578</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>23099</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>26186</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>29170</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>32794</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:99</td>
<td title="Message"> se logeo el Profesional</td>
</tr>

<tr>
<td>41396</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>46433</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>49282</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>52778</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>55777</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>58652</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>62569</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:93</td>
<td title="Message"> se logeo el administrador</td>
</tr>
