<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <meta charset="UTF-8">
<head>
<meta charset="ISO-8859-1">
<title>UNIDAD 5 EQUIPO SSL - CONTROL DE PAGOS DE CLIENTES</title>

<link th:href="@{/css/bootstrap.css}" rel="stylesheet"  href="../static/css/bootstrap.css"/> 
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script> 
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script> 
<style>
 .input-symbol-euro {
     position: relative;
 }

 .input-symbol-euro:before {
    position: absolute;
  
    content: "$";
    left: 5px;
    z-index: 5;

 }



</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <span class="navbar-brand">LOS SSL</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <a class="nav-item nav-link" th:href="@{/admindashboard}" href="#">Inicio <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" href="#" th:href="@{/insertcp}">Ingresar Control de Pagos Clientes</a>
      <a class="nav-item nav-link" href="#" th:href="@{/displayCPclientes}">Ver todos los registros</a>
      <a class="nav-item nav-link" href="#" th:href="@{/logout}">Salir</a>
     
    </div>
  </div>
</nav>

<div class="container">
<div class="raw">
<div class="col-12">

<div class="mx-auto" style="width: 1000px;">
<br/>
<h1>INFORMACION CONTROL DE PAGOS CLIENTES</h1>
<br/>
</div>

<table class="table table-bordered" id="listado">
  <thead>
    <tr>
      <th scope="col">N° FACTURA</th>
      <th scope="col">NOMBRE EMPRESA</th>
      <th scope="col">RUT EMPRESA</th>
      <th scope="col">TELEFONO DE CONTACTO</th>
      <th scope="col">EMAIL DE CONTACTO</th>
      <th scope="col">ESTADO DE PAGO</th>
      <th scope="col">FECHA DE PAGO</th>
      <th scope="col">MONTO DE DEUDA</th>
      <th scope="col">ACTUALIZAR</th>
      <th scope="col">BORRAR</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="tab:${data}" scope="row">
  			<td th:text="${tab.factura}"> </td>
			<td th:text="${tab.nombre}"> </td>
			<td th:text="${tab.rut}"> </td>
			<td th:utext="${tab.telefono}"> </td>
			<td th:utext="${tab.email}"> </td>
			<td th:utext="${tab.epago}"> </td>
			<td th:utext="${tab.fecha}"> </td>
			<td th:utext="${tab.mdeuda}" class="input-symbol-euro"><span class="input-symbol-euro"></span> </td>
			
			<td><a th:href="@{/editcp/{id} (id =${tab.id})}" class="btn btn-success" >Actualizar</a> </td>
			<td><a th:href="@{/deletcp/{id} (id =${tab.id})}" class="btn btn-success" >Borrar</a> </td>	
		
		</tr>	
  
  
  
  
   
  </tbody>
</table>

<div class="raw">
<div class="col-12">
<div id="botones" class="oculto">
   		<p style="text-align:center";>EXPORTAR REPORTE A LOS SIGUIENTES FORMATOS</p>
<p style="text-align:center"; class="lead"><button id="csv" class="btn btn-info">A CSV</button>  <button id="pdf" class="btn btn-danger">A PDF</button> <button id="txt" class="btn btn-danger">A TXT</button></p>
 </div>
</div>
</div>
</div>
</div>
</div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>
<script th:src="@{/js/tableHTMLExport.js}" src="../static/js/tableHTMLExport.js"></script>
<script>
$('#csv').on('click',function(){
  $("#listado").tableHTMLExport({type:'csv',filename:'tabla.csv'});
})
$('#pdf').on('click',function(){
  $("#listado").tableHTMLExport({type:'pdf',filename:'tabla.pdf'});
})
$('#txt').on('click',function(){
  $("#listado").tableHTMLExport({type:'txt',filename:'tabla.txt'});
})


</script>
</body>
</html>