<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="es">
    
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="ISO-8859-1">
<title>UNIDAD 5 EQUIPO SSL - INGRESAR PROFESIONALES</title>

<link th:href="@{/css/bootstrap.css}" rel="stylesheet"  href="../static/css/bootstrap.css"/> 
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script> 
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script> 
<script th:src="@{/js/validarRUT.js}" src="../js/validarRUT.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <span class="navbar-brand">LOS SSL</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" th:href="@{/admindashboard}" href="#">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#" th:href="@{/insertpr}">Ingresar Informacion de Profesionales</a>
      <a class="nav-item nav-link" href="#" th:href="@{/displayprofesionales}">Ver todos los registros</a>
      <a class="nav-item nav-link" href="#" th:href="@{/logout}">Salir</a>
     
    </div>
  </div>
</nav>


<div class="container">
<div class="raw">
<div class="col-12">

<div class="mx-auto" style="width: 800px;">
<h1> INGRESAR INFORMACION DE PROFESIONALES</h1> 
</div>

	<form action="#" th:action="@{/addpr}" th:object="${profesionales}" method="POST">
	
	<div class="form-group">
    <label >INGRESAR NOMBRE DEL PROFESIONAL:</label>
    <input type="text" th:field="*{nombre}" class="form-control" required>   
  </div>
  
  	<div class="form-group">
    <label >INGRESAR RUT DEL PROFESIONAL:</label>
    <input type="text"  th:field="*{rut}" class="form-control" id="rut" oninput="checkRut(this)" name="identificador" maxlength="10" required> 
  </div>
  
  
  	<div class="form-group">
    <label >INGRESE TELEFONO DEL PROFESIONAL:</label>
    <input type="text" th:field="*{telefono}" class="form-control" >   
  </div>
  
    	<div class="form-group">
    <label >INGRESE EMAIL DEL PROFESIONAL:</label>
    <input type="text" th:field="*{email}" class="form-control" >   
  </div> 
  
      	<div class="form-group">
    <label >INGRESE ACTIVIDAD DEL PROFESIONAL:</label>
    <input type="text" th:field="*{actividad}" class="form-control" >   
  </div>  
  
    	<div class="form-group">
    <label >PRESENTA ATRASOS:</label><br/>
        <input type="radio" th:value="SI" th:text="SI" th:field="*{patraso}"> 
		<input type="radio" th:value="NO" th:text="NO" th:field="*{patraso}"> 

  </div> 
  
      	<div class="form-group">
    <label >DETALLE ATRASOS:</label>
    <input type="text" th:field="*{datraso}" class="form-control" >   
  </div> 

	
	<input class="btn btn-primary" type="submit" value="INGRESAR PROFESIONAL">
	
	</form>
	<span th:text="${msg}"> EL REGISTRO FUE INGRESADO </span>
	</div>
	</div>
	</div>
	
	
	
	

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>

<script type="text/javascript">

$(document).ready(function()
		{
		$("input[name=radiou]").change(function () {	 
			$('input[name=txtespe]').val($(this).val());
			});
 
		 });

$(document).ready(function(){
	$("select[name=accidente]").change(function(){

            $('input[name=valor1]').val($(this).val());
        });


});
</script>

</body>
</html>